#welcomeDiv{
  border: solid #03a7ad 1px;
}
#myHeader{
  color: black;
}

#board_div{
  border: solid #03a7ad 1px;
}
td{
  height: 150px;
  width: 150px;
  border: solid 5px black;

  font-size: 100px;
  text-align: center;
  color: black;
  /* color: #04561a; */
}
